
* {
  font-family: 'Play', sans-serif;
  font-family: 'Cookie', cursive;
  font-size: 50px;
}

hr {
    margin-top: 25px;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #FFF3D6;
    margin-top: 25px;
    margin-bottom: 25px;
}

body {
  background-image: url('../assets/red.jpg');

}
.gameContainer {
  background-color: #FFF3D6;
  border: 1px solid grey;
  padding: 5px;
}

.guesses {
  list-style-type: none;
}

li {
  list-style: none;

}

.won {
  font-size: 2em;
  color: red;
  background-color: lightblue;
  border: 1px solid red;
  margin: 0 auto;
  padding: 15px;
  width: 60%;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 10px;
}